{
    "presets": [
        [
            "@babel/preset-env", // поліфіли добавляються також за допомогою пресет-енв
            {
               "targets": "> 1%",
               "useBuiltIns": "usage", // говорить про те, щоб бейбл дивився кожен файл та підключав подрібні поліфіли для кода який є в цьому файлі.
               "corejs": 3 //по дефолту використовує 2 версію, щоб використовути 3ю версію потрібно вказати налаштування.
            }
        ]
    ] 
}