{
    "presets": [
        [
            "@babel/preset-env",
            {
             "targets": "> 1%, not dead"// описує які браузери нас цікавлять - в залежності від цього буде трансформуватись код
            }
        ]
    ] 
}

// {
//     "presets": "@babel/preset-env" // набір плагінів (перероблює весь код на ES5 код(він працює в всіх браузерах))
// }